<a href="https://colab.research.google.com/github/ahmedgama22/Portfolio-Projects/blob/main/London_Bike_Sharing_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES
# TO THE CORRECT LOCATION (/kaggle/input) IN YOUR NOTEBOOK,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

import os
import sys
from tempfile import NamedTemporaryFile
from urllib.request import urlopen
from urllib.parse import unquote, urlparse
from urllib.error import HTTPError
from zipfile import ZipFile
import tarfile
import shutil

CHUNK_SIZE = 40960
DATA_SOURCE_MAPPING = 'london-bike-sharing-dataset:https%3A%2F%2Fstorage.googleapis.com%2Fkaggle-data-sets%2F376751%2F731448%2Fbundle%2Farchive.zip%3FX-Goog-Algorithm%3DGOOG4-RSA-SHA256%26X-Goog-Credential%3Dgcp-kaggle-com%2540kaggle-161607.iam.gserviceaccount.com%252F20240508%252Fauto%252Fstorage%252Fgoog4_request%26X-Goog-Date%3D20240508T161944Z%26X-Goog-Expires%3D259200%26X-Goog-SignedHeaders%3Dhost%26X-Goog-Signature%3D4154e03fa130b56bfb868ad72445cd293b2a89f7593118c07e5c08f4ec32c2984a7e524d6047cac70097307e140d4b1d4f93fbdccbf7ef7c806e21c9b60c37f50d875a447fc432e14e6be9bca82e3b36b196cfb3f20a7980249cf166df2aa2089787f543e26ab96943fc07138b214d33e7696b90448f318e8f3adf14fa56af067b36a960bd94ef9c6cb47862520374066e93ac4c526c2e019aec504b19b8c049e8fda5ef16c90cb07f5a3caafb8f54f8d6fe6a8cec333122caf94c9a0fee316349e7ed88e555c3adb39af7540eb873a774993c661bb09bd79ab8f26650612a641c4da3c2f27610729141df587ca59b27655664af502cd5e0359602d71dfb3088'

KAGGLE_INPUT_PATH='/kaggle/input'
KAGGLE_WORKING_PATH='/kaggle/working'
KAGGLE_SYMLINK='kaggle'

!umount /kaggle/input/ 2> /dev/null
shutil.rmtree('/kaggle/input', ignore_errors=True)
os.makedirs(KAGGLE_INPUT_PATH, 0o777, exist_ok=True)
os.makedirs(KAGGLE_WORKING_PATH, 0o777, exist_ok=True)

try:
  os.symlink(KAGGLE_INPUT_PATH, os.path.join("..", 'input'), target_is_directory=True)
except FileExistsError:
  pass
try:
  os.symlink(KAGGLE_WORKING_PATH, os.path.join("..", 'working'), target_is_directory=True)
except FileExistsError:
  pass

for data_source_mapping in DATA_SOURCE_MAPPING.split(','):
    directory, download_url_encoded = data_source_mapping.split(':')
    download_url = unquote(download_url_encoded)
    filename = urlparse(download_url).path
    destination_path = os.path.join(KAGGLE_INPUT_PATH, directory)
    try:
        with urlopen(download_url) as fileres, NamedTemporaryFile() as tfile:
            total_length = fileres.headers['content-length']
            print(f'Downloading {directory}, {total_length} bytes compressed')
            dl = 0
            data = fileres.read(CHUNK_SIZE)
            while len(data) > 0:
                dl += len(data)
                tfile.write(data)
                done = int(50 * dl / int(total_length))
                sys.stdout.write(f"\r[{'=' * done}{' ' * (50-done)}] {dl} bytes downloaded")
                sys.stdout.flush()
                data = fileres.read(CHUNK_SIZE)
            if filename.endswith('.zip'):
              with ZipFile(tfile) as zfile:
                zfile.extractall(destination_path)
            else:
              with tarfile.open(tfile.name) as tarfile:
                tarfile.extractall(destination_path)
            print(f'\nDownloaded and uncompressed: {directory}')
    except HTTPError as e:
        print(f'Failed to load (likely expired) {download_url} to path {destination_path}')
        continue
    except OSError as e:
        print(f'Failed to load {download_url} to path {destination_path}')
        continue

print('Data source import complete.')

# About the data:
The dataset is on Kaggel ,The data is acquired from 3 sources:

Https://cycling.data.tfl.gov.uk/ 'Contains OS data © Crown copyright and database rights 2016' and Geomni UK Map data © and database rights [2019] 'Powered by TfL Open Data'
freemeteo.com - weather data
https://www.gov.uk/bank-holidays
From 1/1/2015 to 31/12/2016
The data from cycling dataset is grouped by "Start time", this represent the count of new bike shares grouped by hour. The long duration shares are not taken in the count.

Metadata:
"timestamp" - timestamp field for grouping the data
"cnt" - the count of a new bike shares
"t1" - real temperature in C
"t2" - temperature in C "feels like"
"hum" - humidity in percentage
"wind_speed" - wind speed in km/h
"weather_code" - category of the weather
"is_holiday" - boolean field - 1 holiday / 0 non holiday
"is_weekend" - boolean field - 1 if the day is weekend
"season" - category field meteorological seasons: 0-spring ; 1-summer; 2-fall; 3-winter.

"weathe_code" category description:
1 = Clear ; mostly clear but have some values with haze/fog/patches of fog/ fog in vicinity 2 = scattered clouds / few clouds 3 = Broken clouds 4 = Cloudy 7 = Rain/ light Rain shower/ Light rain 10 = rain with thunderstorm 26 = snowfall 94 = Freezing Fog

# Importing Packages:

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/london-bike-sharing-dataset/london_merged.csv

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# Reading the dataset:

In [ ]:
df=pd.read_csv('/kaggle/input/london-bike-sharing-dataset/london_merged.csv')

# Exploring and Manipulating the data:

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [ ]:
df.describe()

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
count,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000,17414.000000
mean,1143.101642,12.468091,11.520836,72.324954,15.913063,2.722752,0.022051,0.285403,1.492075
std,1085.108068,5.571818,6.615145,14.313186,7.894570,2.341163,0.146854,0.451619,1.118911
min,0.000000,-1.500000,-6.000000,20.500000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,257.000000,8.000000,6.000000,63.000000,10.000000,1.000000,0.000000,0.000000,0.000000
50%,844.000000,12.500000,12.500000,74.500000,15.000000,2.000000,0.000000,0.000000,1.000000
75%,1671.750000,16.000000,16.000000,83.000000,20.500000,3.000000,0.000000,1.000000,2.000000
max,7860.000000,34.000000,34.000000,100.000000,56.500000,26.000000,1.000000,1.000000,3.000000

In [ ]:
df.shape

(17414, 10)

In [ ]:
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [ ]:
df.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [ ]:
df.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [ ]:
# Creating a season dictionary so that  we can map the integers 0-3 to the actual written values:

season_name={'0.0':'spring',
             '1.0':'summer',
             '2.0':'autumn',
             '3.0':'winter'}

In [ ]:
# Creating a weather dictionary so that  we can map the integers to the actual written values:

weather_condition={'1.0':'Clear',
              '2.0':'scattered clouds',
              '3.0':'Broken Clouds',
              '4.0':'Cloudy',
              '7.0':'Rain',
              '10.0':'rain With thunderstorm ',
              '26':'Snowfall'}

In [ ]:
# Changing the season column data type to string:

df['season'] = df['season'].astype('string')

In [ ]:
# Maping the values 0-3 to the actual written seasons:

df['season'] = df['season'].map(season_name)

In [ ]:
# Changing the weather column data type to string:

df['weather_code']=df['weather_code'].astype('string')

In [ ]:
# Maping the values to the actual written weathers:

df['weather_code']=df['weather_code'].map(weather_condition)

In [ ]:
# Checking the data frame to see if the mapings have worked :

df.head(30)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,Broken Clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,Clear,0.0,1.0,winter
5,2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,Clear,0.0,1.0,winter
6,2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,Cloudy,0.0,1.0,winter
7,2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,Cloudy,0.0,1.0,winter
8,2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,Cloudy,0.0,1.0,winter
9,2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,Broken Clouds,0.0,1.0,winter
10,2015-01-04 10:00:00,528,3.0,-0.5,93.0,12.0,Broken Clouds,0.0,1.0,winter
11,2015-01-04 11:00:00,727,2.0,-1.5,100.0,12.0,Broken Clouds,0.0,1.0,winter
12,2015-01-04 12:00:00,862,2.0,-1.5,96.5,13.0,Cloudy,0.0,1.0,winter
13,2015-01-04 13:00:00,916,3.0,-0.5,87.0,15.0,Broken Clouds,0.0,1.0,winter
14,2015-01-04 14:00:00,1039,2.5,0.0,90.0,8.0,Broken Clouds,0.0,1.0,winter
15,2015-01-04 15:00:00,869,2.0,-1.5,93.0,11.0,Broken Clouds,0.0,1.0,winter
16,2015-01-04 16:00:00,737,3.0,0.0,93.0,12.0,Broken Clouds,0.0,1.0,winter
17,2015-01-04 17:00:00,594,3.0,0.0,93.0,11.0,Broken Clouds,0.0,1.0,winter
18,2015-01-04 18:00:00,522,3.0,1.5,93.0,6.5,Broken Clouds,0.0,1.0,winter
19,2015-01-04 19:00:00,379,3.0,1.0,93.0,7.0,Broken Clouds,0.0,1.0,winter
20,2015-01-04 20:00:00,328,3.0,3.0,93.0,4.0,Broken Clouds,0.0,1.0,winter
21,2015-01-04 21:00:00,221,3.0,2.5,93.0,5.0,Cloudy,0.0,1.0,winter
22,2015-01-04 22:00:00,178,3.0,2.0,93.0,6.0,Cloudy,0.0,1.0,winter
23,2015-01-04 23:00:00,157,4.0,3.5,87.0,5.0,Cloudy,0.0,1.0,winter
24,2015-01-05 00:00:00,83,4.0,3.0,93.0,6.0,Cloudy,0.0,0.0,winter
25,2015-01-05 01:00:00,67,4.0,3.5,93.0,5.0,Cloudy,0.0,0.0,winter
26,2015-01-05 02:00:00,32,5.0,4.0,87.0,6.0,Cloudy,0.0,0.0,winter
27,2015-01-05 03:00:00,22,6.0,4.5,84.0,7.5,Cloudy,0.0,0.0,winter
28,2015-01-05 04:00:00,38,6.5,5.0,84.0,8.0,Cloudy,0.0,0.0,winter
29,2015-01-05 05:00:00,81,6.0,5.5,87.0,5.0,Cloudy,0.0,0.0,winter

In [ ]:
df.tail(20)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
17394,2017-01-03 04:00:00,30,0.0,-4.0,93.0,14.0,Clear,0.0,0.0,winter
17395,2017-01-03 05:00:00,83,0.5,-3.5,90.0,14.0,Broken Clouds,0.0,0.0,winter
17396,2017-01-03 06:00:00,434,1.0,-3.5,87.0,18.0,Clear,0.0,0.0,winter
17397,2017-01-03 07:00:00,1407,1.0,-4.0,87.0,19.0,Clear,0.0,0.0,winter
17398,2017-01-03 08:00:00,2904,1.0,-3.5,87.0,18.5,Broken Clouds,0.0,0.0,winter
17399,2017-01-03 09:00:00,1357,2.5,-1.5,81.0,14.0,Clear,0.0,0.0,winter
17400,2017-01-03 10:00:00,661,3.0,-2.0,81.0,20.0,Clear,0.0,0.0,winter
17401,2017-01-03 11:00:00,636,4.0,0.0,78.0,21.0,Clear,0.0,0.0,winter
17402,2017-01-03 12:00:00,825,5.0,1.0,76.0,21.0,Broken Clouds,0.0,0.0,winter
17403,2017-01-03 13:00:00,878,6.0,2.0,71.0,23.0,Cloudy,0.0,0.0,winter
17404,2017-01-03 14:00:00,765,6.0,2.0,73.5,22.0,Broken Clouds,0.0,0.0,winter
17405,2017-01-03 15:00:00,845,6.0,2.0,71.0,27.0,Cloudy,0.0,0.0,winter
17406,2017-01-03 16:00:00,1201,6.0,2.0,71.0,26.0,Cloudy,0.0,0.0,winter
17407,2017-01-03 17:00:00,2742,6.0,2.0,73.5,21.0,Broken Clouds,0.0,0.0,winter
17408,2017-01-03 18:00:00,2220,5.0,1.0,81.0,22.0,scattered clouds,0.0,0.0,winter
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,Broken Clouds,0.0,0.0,winter
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,Cloudy,0.0,0.0,winter
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,Cloudy,0.0,0.0,winter
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,Cloudy,0.0,0.0,winter
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,scattered clouds,0.0,0.0,winter

In [ ]:
# Changing the humidity values to percentage:

df.hum=df.hum/100

In [ ]:
df

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken Clouds,0.0,0.0,winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,scattered clouds,0.0,0.0,winter

In [ ]:
# Writing the final data frame to an excel file that we will use in our Tableau Visualisation:

df.to_excel('london_bikes_final.xlsx',sheet_name='Bike')

# Tableau Dashboard:

### Here is the link to my Tableau Dashboard for the dataset:

### https://public.tableau.com/views/londonBikesData/Dashboard1